.App{
    width: 100%;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
/* delete icon */
.delete{
    right: 10px;
    top: 10px;
}
.card{
    max-width: 400px;
}
.emails,.adress{
    font-size: 14px;
}
/* forms */
.form_child{
    width: 80%;
}
.form .input{
    font-size: 15px;
}
.btnn{
    border: none;
    outline: none;
    background:transparent;
    transition: .3s ease all;
    font-size: 13px;
    color: rgba(85, 85, 85, 0.61);
    text-decoration: underline;
}
.btnn:hover{
    color: blue;
    cursor: pointer;
}
.btnn:focus{
    border: none !important;
}
.form__label{
    font-size: 13px;
}
.form-group{
    margin-bottom: 5px;
}
.add_span{
    cursor: pointer;
    text-decoration: underline;
}
.input::placeholder{
    color: rgba(58, 58, 58, 0.430);
}